@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url('/snow.jpg');
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: var(--background-image);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  background-attachment: fixed; /* ← これを追加！ */
  background-size: cover;       /* 画面いっぱいに表示 */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-position: center;  /* 中央に配置 */
}

html {
  scroll-behavior: smooth;
}

